force-app/main/default/flows/Bulk_Payment_Feature_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_in_the_idsText</name>
        <label>Add in the idsText</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>idsText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>idsText_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_to_ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Id</name>
        <label>Assign Current Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>currentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_to_ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_in_the_idsText</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_idsText</name>
        <label>Initialize idsText</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>idsText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_to_ids</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <name>idsText_Formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!idsText}), {!currentId}, {!idsText} &amp; &apos;,&apos; &amp; {!currentId})</expression>
    </formulas>
    <interviewLabel>Bulk Payment Feature Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bulk Payment Feature Screen Flow</label>
    <loops>
        <name>Iterate_to_ids</name>
        <label>Iterate to ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Current_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Bulk_Payment_Feature_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Bulk_Payment_Feature_Screen</name>
        <label>Bulk Payment Feature Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Bulk_Payment_Feature_LWC</name>
            <extensionName>natdev24:bulkPaymentFeature</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordIds</name>
                <value>
                    <elementReference>idsText</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initialize_idsText</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idsText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
